body {
    background-color: rgba(247, 247, 253, 0.993);
    font-family: Helvetica;
    font-weight: lighter;
    font-stretch: expanded;
    font-style: oblique;
}
div.one {
    background-color: rgb(130, 188, 226);
}
img.logo {
    float:left;
}
nav {
    background-color: rgb(248, 2, 2);
    width: 100%;
    height: 30px;
}
div.two {
    background-color: rgb(245, 248, 250);
}
table {
    border: 1px solid grey;
 }
 th {
    border: 1px solid grey;
 }
 td {
    border: 1px solid grey;
 }
 div.tab {
     background-color: rgb(253, 249, 249);
 }
div.three {
    background-color: rgb(253, 249, 249);
}
div.dom {
    background-color: rgba(138, 172, 247, 0.699);
    width: 100%;
    height: 50px;
}