
    .logotip
    {
        font-family:"Architects Daughter";
        display: flex;
        align-items: center;
        color: #4e2664;
        font-size: 40px;
    
    }
    .logo {
        width: 340px;
    }
    .photo_1
{
    width: 250px;
    height: 100px;
}
    body {
        margin: 0 auto;
    
    }
    header {
        display: flex;    
        background-color: rgb(130, 188, 226);
        width: 100%;
        height: 150px;
        margin-bottom: 10px;
    }
    .zz3
    {
        align-items: center;        
    }
    ul.menu 
    {
        align-items: center;
        list-style-type: none;
        border: 40px solid #cab6ff;
        padding: 10px 10px; 
        background-color: #9e86e2;
        border-bottom: 40px solid #685a8f;
    }
    nav
    {    
        background-color: #e4fc8e;
        border-style: solid;
        border-color: rgb(102, 116, 241);
        border-bottom-width: 20px;
        display: flex;
        flex-direction: row;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: larger;
    } 
    .main {
        width: 100%;
        margin: 0 auto;
        display: flex;

    }
    .info {
        text-align: center;
        flex-direction: row;
    }
    .a-1,
    .a-2,
    .a-3
    {

        flex: 30%;
        text-align: center;
    
    }
    .box-2 {
        flex: 6;
        padding-left: 0 px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .two {
        background-color: rgb(245, 248, 250);
        margin: 25px;
    }
    .love-1 {
        text-align: center;
    }
    .stress {
        display: flex;
        flex-direction: column;
        margin: 25px;
    }  
    table {
        border: 1px solid grey;
        border-spacing:0px;
        border-collapse: collapse;
     }
     .table2
     {
     background-color: rgb(159, 206, 175)
     }
    .table1
    {
    background-color: rgb(3, 104, 163)
    }
     th 
     {
        padding: 5px;
        border: 1px solid grey;
     }
     td {
        border: 1px solid grey;
     }
    .tab {
         background-color: rgb(253, 249, 249);
     }
    .three {
        background-color: rgb(253, 249, 249);
    
    }
    
    .dom {
        color: rgb(191, 255, 87);
        background-color:#8fa2bc;
        padding: 10px;
        font-size: 17px;
        text-shadow: 6px 4px 3px #9a87de;
    }
@media (min-width: 740px)

{
header
{
        display: flex;
        justify-content: center;
}
 ul.menu li
{
   display: inline-block; 
   text-decoration: none;
   margin-right: 50px; 
   border: 20px solid #cab6ff;
   padding: 10px 10px; 
   background-color: #9e86e2;
   border-bottom: 20px solid #685a8f;
   
}
.logotip_photo
{
    margin-right: 50px;
        width: 150px;
}
.loga
    {
        font-size: 70px;
    }
.photo_1
{
    width: 400px;
    height: 200px;
}

.menu
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav
{
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: #e4fc8e;
}
    .stress 
    {
        display: flex;
        flex-direction: column; 
    }
    .tab {
        order: 2;
         background-color: rgb(253, 249, 249);
     }
    .three {
        order: 1;
        background-color: rgb(253, 249, 249);
    
    }
.dom
{
    color: azure;
    background-color:#BC8F8F;
    padding: 10px;
    font-size: 17px;
    text-shadow: 6px 4px 3px #DEB887;
}
}